*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    padding: 20px 90px;
    border: 2px solid black;
    border-radius: 20px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    text-align: center;
}
.changelog{
    display: flex;
    margin-bottom: 20px;
    padding-left: 20px;
    justify-content: center;
    
}
.content{
   border-left: 2px solid black; 
   padding: 20px;
}
.date{
    padding: 20px;
}

.line{
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 20px;
    min-width: 550px;
}
.content p {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}
.content p::before {
    display: flex;
    content: "";
    position: absolute;
    left: -27px;
    top: 0;
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
}
.date, .description{
    color: gray;
}
button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}
button:hover{
    background-color: white;
    color: black;
    outline: 1px solid black;
}


